.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}

.header-bg-color{
background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.div-task{
  align-items: center;
  align: center;
  padding:10

}
